<html>
    <head>
        <title>Panel | HYOP</title>
        <link rel = "stylesheet" href = "/css/ut.css">
        <link rel = "stylesheet" href = "/css/home.css">
        <script src = "/js/jquery.js"></script>
        <script src = "/js/alert.js"></script>
    </head>

    <body>
        <%~ includeFile('../includes/head.html') %>
        <div id = "container">
            <div id = "side">
                <div id = "title">
                    <h2>HYOP Panel</h2>
                    <span>Welcome, <b>user</b>.</span>
                </div>

                <div id = "menu-container">
                    <div class = "menu" for = "start">
                        Start vulnarable app
                    </div>

                    <div class = "menu" for = "settings">
                        Settings
                    </div>

                    <div class = "menu" for = "logout" onclick = "logout()">
                        Logout
                    </div>
                </div>
            </div>

            <div id = "main">
            </div>
        </div>

        <div class = "alert-container"></div>

        <script>
            var endTrans = endTransName()
            var section = window.location.href.split('/')
            $(`.menu[for="${section[section.length -1]}"]`).addClass('active')
            $('#main').attr('main-id', section[section.length -1])

            dontToggle = ['logout']
            $('.menu').on('click', function() {
                if (!dontToggle.includes($(this).attr('id'))) {
                    $('.menu').removeClass('active')
                    $(this).addClass('active')

                    render($(this).attr('for'))
                }
            })

            function endTransName() {
                var transitions = {
                    "transition"      : "transitionend",
                    "OTransition"     : "oTransitionEnd",
                    "MozTransition"   : "transitionend",
                    "WebkitTransition": "webkitTransitionEnd"
                }
                let bodyStyle = document.body.style

                for(let transition in transitions) {
                    if(bodyStyle[transition] != undefined) {
                        return transitions[transition]
                    } 
                }
            }

            function render(main) {
                $('#main').addClass('hidden')

                $('#main').on(endTrans, function() {
                    $.get(`/partial/${main}`, function(data, status) {
                        $('#main').html(data)
                        $('#main').attr('main-id', main)

                        // window.history.pushState("object or string", "Title", `/account/${main}`)
                    
                        $('#main').removeClass('hidden')
                        $('#main').on(endTrans, function() {
                            $('#main').off(endTrans)
                            $('#splash').removeClass('active')
                        })
                    })
                })
            }

            function logout() {
                $.get('/account/logout', function() {
                    window.location.href = '/'
                })
            }
        </script>
    </body>
</html>