<html>
    <head>
        <title>Homepage | HYOP</title>
        <link rel = "stylesheet" href = "/css/ut.css">
        <link rel = "stylesheet" href = "/css/index.css">
    </head>

    <body>
        <%~ includeFile('../includes/head.html') %>

        <div id = "container">
            <span>HYOP (Hack Your Own PC) is a vulnarable web application that designed to help dummies learn web security.</span>

            <br>

            <a href = "/login">
                <button class = "button">Login</button>
            </a>
        </div>
    </body>
</html>